<?php

use PhpCsFixer\Config;
use PhpCsFixer\Finder;

$root = getcwd();

$finder = Finder::create()
    ->notPath('vendor')
    ->notPath('bootstrap')
    ->notPath('storage')
    ->notName('*.blade.php')
    ->notName('index.php')
    ->notName('server.php')
    ->ignoreDotFiles(true)
    ->ignoreVCS(true)
    ->name('*.php')
    ->in($root);

$composerJson = $root . DIRECTORY_SEPARATOR . 'composer.json';
if (file_exists($composerJson)) {
    $composer = json_decode(file_get_contents($composerJson), true);
    $phpcs = $composer['extra']['php-cs-fixer'] ?? null;

    if ($phpcs !== null && isset($phpcs['finder'])) {
        if (isset($phpcs['finder']['exclude']) && is_array($phpcs['finder']['exclude'])) {
            $finder->exclude(
                array_values($phpcs['finder']['exclude'])
            );
        }

        if (isset($phpcs['finder']['include']) && is_array($phpcs['finder']['include'])) {
            $finder->in(
                array_values($phpcs['finder']['include'])
            );
        }
    }
}

return Config::create()
    ->setRules(array_merge(require '.php_cs.laravel', [
        '@PSR2' => true,
        'no_unused_imports' => true,
    ]))
    ->setLineEnding("\n")
    ->setIndent(str_repeat(' ', 4))
    ->setUsingCache(false)
    ->setRiskyAllowed(true)
    ->setFinder($finder);
